<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Successful Upload!</title>
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
        <div class="max-w-md w-full space-y-8">
            <div class="mt-8 space-y-6">
                <h1 class="title text-green-600">
                    Image uploaded successfully!
                </h1>
                <div class="mt-4 mb-4 text-center">
                    <a href="/" class="text-blue-500">Start over</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>