<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Verify Your Account</title>
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
<div class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full space-y-8">
        <div class="mt-8 space-y-6">
            <h1 class="title">
                Please verify your account {{ username }}
            </h1>
        </div>
        <form method="POST">
            <div class="rounded-md shadow-sm">
                <div class="mb-4">
                    <label for="verification_code"
                           class="label mb-2 block">Enter the code sent to your phone</label>
                    <input type="password"
                           id="verification_code"
                           name="verification_code"
                           {% if error %}class="input-field-with-error"{% else %}class="input-field"{% endif %}
                           placeholder="verification code">
                    {% if error %}<p class="error text-red-700">{{ error }}</p>{% endif %}
                </div>
                <button type="submit" class="btn">
                    Submit Verification Code
                </button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
