<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Successful Upload!</title>
</head>
<body>
<div class="container">
    <h1 class="title">
        Your image has successfully been added to the S3 bucket.
    </h1>
</div>
</body>
</html>