<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Verify Your Account</title>
</head>
<body>
<h1 class="title">
    Please verify your account {{ username }}
</h1>
{% if error %}
<p class=error><strong>Error:</strong> {{ error }}
{% endif %}
<form method="POST">
    <div class="field">
        <label for="verification_code" class="label">Enter the code sent to your phone.</label>
        <input class="input"
               type="password"
               id="verification_code"
               name="verification_code"
               placeholder="verification code">
    </div>
    <div class="field">
        <p class="control">
            <button type="submit" class="is-success">
                Submit Verification Code
            </button>
        </p>
    </div>
</form>
</body>
</html>
